{% extends "layout.html" %}

{% block title %} Index {% endblock %}

{% block name %} Home Page {% endblock%}

{% block function %} Read more about the purpose of this website {% endblock%}

{% block main %}
    <p>
    This website enables you to determine the price of a specific printing product depending on its measurements, 
    paper types, quantity, a salary that you want to provide for your workers, and other additional expenses. Furthermore,
    with this website, you can save your calculated orders for later reference.
    </p>
    <img src="/static/printer.jpeg" width="250" height="250">
    <h2>Hope you enjoy using it!</h2>
{% endblock %}